body{
    background-color: #efefef;
}

/* 公共代码 */
.clearfix::after{
   content: "";
   display: block;
   clear: both; 
}


/* 导航条代码如下 */
.topNavBar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}
.topNavBar-inner{
    margin-left: 16px;
    margin-top:28px;

}

.logo {
  float: left;
  font-family: "Arial Black";
  line-height: 24px;
  font-weight: bold;
  font-size: 24px;
}
.logo a{
    text-decoration: none;
}
.rs{
    color:#E6686A;
    font-weight:bold;

}
.card{
    color:#9A9DA2;
    padding-left:4px;
}

.topNavBar-inner nav{
    float: right;
    padding:6px 14px 0px 0px;
}

.topNavBar-inner nav ul li{
    float: left;
    padding-right:18px;
    padding-left:16px;
}

.topNavBar-inner nav ul li a{
    font-size: 12px;
    color: #ABABAB;
    text-decoration: none;
    padding:6px 0;
    border-bottom: 3px solid transparent;
    font-family: "STHeiti";
}
.topNavBar-inner nav ul li a:hover{
    border-bottom: 3px solid #de6669;
}


/* 背景图代码如下 */
.banner{
    background-image: url(./img/rs-cover.jpg);
    background-size: cover;
    background-position: center center;
}
.shade{
    background-color: rgba(0, 0, 0, 0.8);
    height: 514px;
}

/* 用户卡片代码如下 */
main{
    max-width: 940px;
    margin: 0 auto;
}
.userCard{
    margin-top:-339px;
    box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.50);
}
.portraitAndIntroduce{
    padding-top:50px;
    padding-bottom: 53px;
    background-color:white;
}
.portrait{
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}
.introduce{
    float: left;
    padding-left:15px;
}
.hello span{
    font-size: 15px;
    font-family: "AppleMyungjo";
    line-height: 22px;
    color:white
}
.hello{
    background-color: #e4696c;
    padding:4px 16px 4px 16px;
    display: inline-block;
    position: relative;
}
.triangle{
    border:10px solid transparent;
    width:0px;
    border-left-color:#e4696c; 
    border-top-width:0px;
    position: absolute;
    top:30px;
    left:5px;
}

.introduce h1{
    font-size: 32px;
    color: black;
    padding-top:28px;
    font-family: 'Times New Roman', Times, serif;
}
.introduce p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:16px;
}
.introduce br{
    content: "";
    width: 100%;
    display: block;
    border: 1px solid transparent; 
    border-bottom-color: #dedede; 
    margin-top:20px;
    margin-bottom: 20px;
}
.introduce dl{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 16px;
}


.introduce dl dt{
    color: black;
    font-weight: bold;
    width:30%;
    float: left;
    margin-bottom: 10px;
    
}
.introduce dl dd{
    float: right;
    width:65%;
    color:#a3a6ad;
    margin-bottom: 10px;


}
/* 图标链接代码如下 */
.SocialLink a .icon{
    width: 30px; 
    height: 30px;
    vertical-align: top;
    fill: #ffffff;
    overflow: hidden;
}
.SocialLink a{
    text-decoration: none;
    display: inline-block;
    padding:5px;
    border-radius: 50%;
    margin: 15px 19px;
}
.SocialLink{
    background-color:#e4696c;
    display: flex;
    justify-content: center;
}
.SocialLink a:hover{
    background-color:#cd5e61 ;
}
/* 下载PDF简历代码如下 */
.downloadResumeWrap{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    
}
a.downloadResume{
    display: inline-block;
    color:#3d4456;
    font-size: 14px;
    padding:20px 54px;
    text-decoration: none; 
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif;
    border-radius: 2px;
    border:1px solid #cdcfde;
}
a.downloadResume:hover{
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.35);
    transition: box-shadow 0.2s;
}
main>p{
    text-align: center;
    color:black;
    line-height: 150%;
    font-family:"STKaiti";
    font-size: 19px;
}
/* 技能条代码如下 */
section.skills,
section.portfolio{
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}
section.skills>h2,
section.portfolio>h2{
    font-size: 35px;
    text-align: center;
    font-family: "STHeiti";
    line-height: 35px;
    padding:30px 0;
    font-weight: bold;
    color:#3d4450;
    
}
section.skills>ul{
    box-sizing: border-box;
    background-color: #ffffff; 
    padding:25px 50px 50px; 
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.7);
    border-radius: 1px;
}
section.skills>ul>li>h3{
    color:black;
    padding:20px 0px 0px 0px;
}
section.skills>ul>li{
    float:left;
    display: block;
    width:48%;
    margin-bottom: 10px;
    font-size: 12px;

}
section.skills>ul>li:nth-child(even){
    float: right;
}
.progressBar{  
    margin-top: 5px;
    background-color:#f9e1e1;
    border-radius: 2px;
}
.progressBar>.progressBarInner{
    background-color:#e4696c;
    height: 5px;
    width:95%;
    border-radius: 2px;
}
/* 作品集代码如下 */
.portfolio{
    text-align: center;

}
.portfolio>nav{
    color:black;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
}

.portfolio>nav>ul{
    cursor: pointer;
}
.portfolio>nav>ul>li{
    float:left;
    padding-left: 45px;
    
}
.portfolio>nav>ul>li:nth-child(1){
    padding-left:0;
}
.bar{
    margin-top:5px;
    background-color: #ffffff;
    border-radius: 2px;
    
    
}
.bar>.barInner{
    background-color:#e4696c;
    height: 5px;
    border-radius: 2px;
    transition: all 0.3s;
    width: 40px;
    margin-left:0px;
   
}

.bar>.state2{
    width: 49px;
    margin-left:64px;
}
.bar>.state3{
    width: 91px;
    margin-left:139px;
}
.bar>.state1{
    width: 41px;
    margin-left:0px;
}
.atlas{

    position: relative;
    height: 597px;
}
.atlas>.big,
.atlas>.small{
    position: absolute;
}
.atlas>.big{
    top:0px;
    left: 0px;
}
.atlas>.small{
    position: absolute;
    top:0px;
    left: 645px;
}